# Ignore artifacts:
build
coverage
.idea
node_modules
.env
.gitignore
.prettierignore
.prettierrc
drizzle.config.ts
example.env
package.json
package-lock.json
README.md
tsconfig.json
client/node_modules
client/.gitignore
client/eslint.config.js
client/package.json
client/package-lock.json
client/tsconfig.app.json
client/tsconfig.json
client/tsconfig.node.json
client/vite.config.ts
